@font-face {
	font-family: "SFProDisplay-Black";
	src: url("../fonts/SFProDisplay-Black/SFProDisplay-Black.eot");
	src: local('☺'), url("../fonts/SFProDisplay-Black/SFProDisplay-Black.woff") format('woff'), url("../fonts/SFProDisplay-Black/SFProDisplay-Black.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay-Bold";
	src: url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot");
	src: local('☺'), url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff") format('woff'), url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay-Regular";
	src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot");
	src: local('☺'), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff") format('woff'), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay-Light";
	src: url("../fonts/SFProDisplay-Light/SFProDisplay-Light.eot");
	src: local('☺'), url("../fonts/SFProDisplay-Light/SFProDisplay-Light.woff") format('woff'), url("../fonts/SFProDisplay-Light/SFProDisplay-Light.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay-Medium";
	src: url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.eot");
	src: local('☺'), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff") format('woff'), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTNorms-Bold";
	src: url("../fonts/TTNorms-Bold/TTNorms-Bold.eot");
	src: local('☺'), url("../fonts/TTNorms-Bold/TTNorms-Bold.woff") format('woff'), url("../fonts/TTNorms-Bold/TTNorms-Bold.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTNorms-Light";
	src: url("../fonts/TTNorms-Light/TTNorms-Light.eot");
	src: local('☺'), url("../fonts/TTNorms-Light/TTNorms-Light.woff") format('woff'), url("../fonts/TTNorms-Light/TTNorms-Light.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTNorms-Medium";
	src: url("../fonts/TTNorms-Medium/TTNorms-Medium.eot");
	src: local('☺'), url("../fonts/TTNorms-Medium/TTNorms-Medium.woff") format('woff'), url("../fonts/TTNorms-Medium/TTNorms-Medium.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTNorms-Regular";
	src: url("../fonts/TTNorms-Regular/TTNorms-Regular.eot");
	src: local('☺'), url("../fonts/TTNorms-Regular/TTNorms-Regular.woff") format('woff'), url("../fonts/TTNorms-Regular/TTNorms-Regular.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}
