main
    .banner-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .banner-slider__img
                    img(src="img/slide.jpg")
                .banner-slider__content        
                    .banner-slider__title Арендовать контейнер в Москве
                    .banner-slider__article 
                        span под склад, 
                        |для хранения личных вещей 
                        span от 2500 руб./мес
                    .banner-slider__about
                        span Официально, без посредников и переплат:
                    form(action="#").banner-slider__select
                        .custom-select.select-size
                            select
                                option Снять контейнер, 15 кв.м
                                option Снять контейнер, 25 кв.м
                                option Снять контейнер, 35 кв.м
                        .custom-select.select-metro
                            select
                                option Выберите станцию метро
                                option Тест 1
                                option Тест 2
                        button(type="submit").btn.btn_slider найти        

            .swiper-slide
                .banner-slider__img
                    img(src="img/slide.jpg")
                .banner-slider__content        
                    .banner-slider__title Арендовать контейнер в Москве2
                    .banner-slider__article 
                        span под склад, 
                        |для хранения личных вещей 
                        span от 2500 руб./мес
                    .banner-slider__about
                        span Официально, без посредников и переплат:
                    form(action="#").banner-slider__select
                        .custom-select.select-size
                            select
                                option Снять контейнер, 15 кв.м
                                option Снять контейнер, 25 кв.м
                                option Снять контейнер, 35 кв.м
                        .custom-select.select-metro
                            select
                                option Выберите станцию метро
                                option Тест 1
                                option Тест 2
                        button(type="submit").btn.btn_slider найти

            .swiper-slide
                .banner-slider__img
                    img(src="img/slide.jpg")
                .banner-slider__content        
                    .banner-slider__title Арендовать контейнер в Москве3
                    .banner-slider__article 
                        span под склад, 
                        |для хранения личных вещей 
                        span от 2500 руб./мес
                    .banner-slider__about
                        span Официально, без посредников и переплат:
                    form(action="#").banner-slider__select
                        .custom-select.select-size
                            select
                                option Снять контейнер, 15 кв.м
                                option Снять контейнер, 25 кв.м
                                option Снять контейнер, 35 кв.м
                        .custom-select.select-metro
                            select
                                option Выберите станцию метро
                                option Тест 1
                                option Тест 2
                        button(type="submit").btn.btn_slider найти

        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination  

    form(action="#").select-mobile
        .custom-select.select-size
            select
                option Снять контейнер, 15 кв.м
                option Снять контейнер, 25 кв.м
                option Снять контейнер, 35 кв.м
        .custom-select.select-metro
            select
                option Выберите станцию метро
                option Тест 1
                option Тест 2
        button(type="submit").btn.btn_slider найти

    .breadcrumbs
        ul.breadcrumbs__list
            li
                a(href="#") Главная
            li
                a Контейнеры под склад

    .content
        h1.main-title Аренда склада и контейнера под склад в Москве  
        .main-text
            p Компания Smart Sklad на рынке коммерческой недвижимости более 10 лет. Мы предоставляем в аренду торговые, складские, офисные помещения, а также складские контейнеры. Наши помещения расположены во всех округах Москвы и в некоторых районах Московской области. Мы являемся собственниками объектов недвижимости, а значит, Вам не придется платить комиссию. 

        .cont-types
            .container
                .cont-size
                    .cont-size__item 5
                    .cont-size__item ft

                .container__title Контейнер 5 футов
                .container-top
                    .container__slider.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/cont-1.png")
                            .swiper-slide
                                img(src="img/cont-1.png")

                            .swiper-slide
                                img(src="img/cont-1.png")

                        .swiper-pagination 

                    ul.container__list
                        li
                            span Длина:
                            b 2,4 м
                        li
                            span Ширина:
                            b 1,5 м
                        li
                            span Высота
                            b 2,7 м
                        li
                            span Площадь:
                            b 
                                |3,5 м
                                sup 2
                        li
                            span Объем
                            b 
                                |10 м
                                sup 3       

                .container__term-wrap
                    .term-title Срок аренды:
                    ul.container__term
                        li                                
                            input(type="radio" name="container-term" id="one-month" checked).term-radio
                            label(for="one-month") 1 мес
                        li
                            input(type="radio" name="container-term" id="three-month").term-radio
                            label(for="three-month") 3 мес
                        li
                            input(type="radio" name="container-term" id="six-month").term-radio
                            label(for="six-month") 6 мес
                        li
                            input(type="radio" name="container-term" id="twelve-month").term-radio
                            label(for="twelve-month") 12 мес
                        li
                            .custom-select.select-term
                                select
                                    option Укажите срок
                                    option 18 мес
                                    option 2 года


                ul.container__price
                    li
                        span Стоимость аренды:
                    li
                        i 3500 руб.
                    li
                        button.btn Отправить заявку                            

            .container
                .cont-size
                    .cont-size__item 10
                    .cont-size__item ft
                .container__title Контейнер 10 футов
                .container-top
                    .container__slider.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/cont-2.png")
                            .swiper-slide
                                img(src="img/cont-2.png")

                            .swiper-slide
                                img(src="img/cont-2.png")

                        .swiper-pagination 

                    ul.container__list
                        li
                            span Длина:
                            b 3,0 м
                        li
                            span Ширина:
                            b 2,3 м
                        li
                            span Высота
                            b 2,7 м
                        li
                            span Площадь:
                            b 
                                |7,0 м
                                sup 2
                        li
                            span Объем
                            b 
                                |19 м
                                sup 3       

                .container__term-wrap
                    .term-title Срок аренды:
                    ul.container__term
                        li                                
                            input(type="radio" name="container-term2" id="one-month2" checked).term-radio
                            label(for="one-month2") 1 мес
                        li
                            input(type="radio" name="container-term2" id="three-month2").term-radio
                            label(for="three-month2") 3 мес
                        li
                            input(type="radio" name="container-term2" id="six-month2").term-radio
                            label(for="six-month2") 6 мес
                        li
                            input(type="radio" name="container-term2" id="twelve-month2").term-radio
                            label(for="twelve-month2") 12 мес
                        li
                            .custom-select.select-term
                                select
                                    option Укажите срок
                                    option 18 мес
                                    option 2 года


                ul.container__price
                    li
                        span Стоимость аренды:
                    li
                        i 3500 руб.
                    li
                        button.btn Отправить заявку                                

            .container
                .cont-size
                    .cont-size__item 20
                    .cont-size__item ft

                .container__title Контейнер 20 футов
                .container-top
                    .container__slider.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/cont-3.png")
                            .swiper-slide
                                img(src="img/cont-3.png")

                            .swiper-slide
                                img(src="img/cont-3.png")

                        .swiper-pagination 

                    ul.container__list
                        li
                            span Длина:
                            b 6,0 м
                        li
                            span Ширина:
                            b 2,35 м
                        li
                            span Высота
                            b 2,4 м
                        li
                            span Площадь:
                            b 
                                |15,0 м
                                sup 2
                        li
                            span Объем
                            b 
                                |33 м
                                sup 3       

                .container__term-wrap
                    .term-title Срок аренды:
                    ul.container__term
                        li                                
                            input(type="radio" name="container-term3" id="one-month3" checked).term-radio
                            label(for="one-month3") 1 мес
                        li
                            input(type="radio" name="container-term3" id="three-month3").term-radio
                            label(for="three-month3") 3 мес
                        li
                            input(type="radio" name="container-term3" id="six-month3").term-radio
                            label(for="six-month3") 6 мес
                        li
                            input(type="radio" name="container-term3" id="twelve-month3").term-radio
                            label(for="twelve-month3") 12 мес
                        li
                            .custom-select.select-term
                                select
                                    option Укажите срок
                                    option 18 мес
                                    option 2 года


                ul.container__price
                    li
                        span Стоимость аренды:
                    li
                        i 3500 руб.
                    li
                        button.btn Отправить заявку                                               
            .container
                .cont-size
                    .cont-size__item 40
                    .cont-size__item ft

                .container__title Контейнер 40 футов
                .container-top
                    .container__slider.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/cont-4.png")
                            .swiper-slide
                                img(src="img/cont-4.png")

                            .swiper-slide
                                img(src="img/cont-4.png")

                        .swiper-pagination 

                    ul.container__list
                        li
                            span Длина:
                            b 12,0 м
                        li
                            span Ширина:
                            b 2,3 м
                        li
                            span Высота
                            b 2,7 м
                        li
                            span Площадь:
                            b 
                                |30,0 м
                                sup 2
                        li
                            span Объем
                            b 
                                |76 м
                                sup 3       

                .container__term-wrap
                    .term-title Срок аренды:
                    ul.container__term
                        li                                
                            input(type="radio" name="container-term4" id="one-month4" checked).term-radio
                            label(for="one-month4") 1 мес
                        li
                            input(type="radio" name="container-term4" id="three-month4").term-radio
                            label(for="three-month4") 3 мес
                        li
                            input(type="radio" name="container-term4" id="six-month4").term-radio
                            label(for="six-month4") 6 мес
                        li
                            input(type="radio" name="container-term4" id="twelve-month4").term-radio
                            label(for="twelve-month4") 12 мес
                        li
                            .custom-select.select-term
                                select
                                    option Укажите срок
                                    option 18 мес
                                    option 2 года


                ul.container__price
                    li
                        span Стоимость аренды:
                    li
                        i 3500 руб.
                    li
                        button.btn Отправить заявку                              

        .rent
            h2.main-title Морской контейнер - универсальное решение для хранения вещей
            .mobile-title Арендовать контейнер просто!
            .rent__inner
                .rent__item
                    .rent__photo
                        img(src="img/girl.png" alt="арендовать контейнер просто" width="417" height="684")
                        .rent__tooltip
                            |Арендовать<br> контейнер<br> просто!
                        .rent__container
                            img(src="img/cont-logo.png" alt="арендовать контейнер просто")         

                .rent__item
                    ul.rent-iphone
                        li 
                            .rent-iphone__item Сколько стоит<br> арендовать контейнер<br> на месяц?
                            .rent-iphone__author Вы
                        li 
                            .rent-iphone__item Стоимость аренды контейнера расчитывается от кол-ва месяцев аренды. Чем дольше, тем дешевле!
                            .rent-iphone__author Super-sklad
                        li 
                            .rent-iphone__item Как быстро можно<br> занять арендуемый<br> контейнер?
                            .rent-iphone__author Вы
                        li 
                            .rent-iphone__item В среднем время заключения договора не превышает 1 - 2 дня
                            .rent-iphone__author Super-sklad

                .rent__item
                    ol.rent-stage
                        li
                            .rent-stage__title Выберите месторасположение
                            span Наши контейнеры располагаются в удобных районах рядом с метро
                        li
                            .rent-stage__title Заполните онлайн заявку
                            span Выберите тип контейнера, время аренды
                        li
                            .rent-stage__title Ваши контактные данные
                            span Указывайте ваше имя, контактный телефон
                        li
                            .rent-stage__title Готово!
                            span Наш менеджер свяжется с вами в течении 10 минут и обсудит детали аренды
                            .rent-stage__data
                                a(href="tel:74959233161").rent-stage__phone 8 (495) 923 31 61
                                .rent-stage__worktime Звоните ежедневно 24/7
                                button(type="button").btn Отправить заявку

        .advantages
            h2.main-title Ваши преимущества хранения в контейнерах                      
            blockquote.advantages__article 100 % водонепроницаемость! Каждый контейнер на заводе проходит испытания на водонепроницаемость. 
            ol.advantage-list
                li
                    .advantage-list__item
                        .advantage-list__top
                            .advantage-list__img
                                img(src="img/24-hours.png" alt="круглосуточный доступ")
                            .advantage-list__title Круглосуточный<br> доступ
                        .advantage-list__article Вы можете приехать в любой день и в любое удобное для вас время
                li
                    .advantage-list__item
                        .advantage-list__top
                            .advantage-list__img
                                img(src="img/cont.png" alt="Большой выбор арендных площадей")
                            .advantage-list__title Большой<br> выбор арендных<br> площадей
                        .advantage-list__article Площадь контейнеров от 3,5 до 30 м2 Вы имеете возможность уменьшать или увеличивать арендную площадь 
                li
                    .advantage-list__item
                        .advantage-list__top
                            .advantage-list__img
                                img(src="img/crane-truck.png" alt="Удобная разгрузка и погрузка")
                            .advantage-list__title Удобная разгрузка<br> и погрузка
                        .advantage-list__article Возможность подъехать вплотную к воротам контейнера и совершить заргузку без проблем
                li
                    .advantage-list__item
                        .advantage-list__top
                            .advantage-list__img
                                img(src="img/protected.png" alt="Прочный запирающий механизм")
                            .advantage-list__title Прочный<br> запирающий<br> механизм
                        .advantage-list__article Массивные двери контейнера обладают специальными запорными устройствами
                li
                    .advantage-list__item
                        .advantage-list__top
                            .advantage-list__img
                                img(src="img/cctv.png" alt="Охраняемая территория, видеонаблюдение")
                            .advantage-list__title Охраняемая<br> территория,<br> видеонаблюдение
                        .advantage-list__article Контейнеры находятся в постоянном поле зрения охранников и видео камер
                li
                    .advantage-list__item
                        .advantage-list__top
                            .advantage-list__img
                                img(src="img/pin.png" alt="Удобное расположение складких территорий")
                            .advantage-list__title Удобное<br> расположение<br> складких территорий
                        .advantage-list__article Вблизи станций метро, торговых и офисных центров и автобусных остановок    
        .rent-price
            h2.main-title Стоимость аренды склада в Москве                     
            .main-text
                p Компания Smart Sklad на рынке коммерческой недвижимости более 10 лет. Мы предоставляем в аренду торговые, складские, офисные помещения, а также складские контейнеры. Наши помещения расположены во всех округах Москвы и в некоторых районах Московской области. Мы являемся собственниками объектов недвижимости, а значит, Вам не придется платить комиссию.

            table.rent-table(cellspacing="0")
                thead
                    tr                        
                        td Наименование контейнера
                        td 
                            |Площадь, м
                            sup 2
                        td 
                            |Объем, м
                            sup 3
                        td 1 мес
                        td 3 мес
                        td 6 мес
                        td 12 мес
                tbody
                    tr
                        td
                            .hidden-lg Наименование:
                            .rent-table__name Контейнер морской 5 футов
                            button.btn.rent-table__btn Отправить заявку
                        td 
                            .hidden-lg Площадь кв.м:
                            |7
                        td 
                            .hidden-lg Объем куб.м:
                            |10
                        td 
                            .hidden-lg 1 мес:
                            |3 500 руб.
                        td
                            .hidden-lg 3 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 325 руб.
                        td
                            .hidden-lg 6 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 150 руб.
                        td
                            .hidden-lg 12 мес:
                            .rent-table__price-block  
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 2 800 руб.
                        td.hidden-td
                            button.btn Отправить заявку


                    tr
                        td
                            .hidden-lg Наименование:
                            .rent-table__name Контейнер морской 10 футов
                            button.btn.rent-table__btn Отправить заявку
                        td 
                            .hidden-lg Площадь кв.м:
                            |7
                        td 
                            .hidden-lg Объем куб.м:
                            |19
                        td 
                            .hidden-lg 1 мес:
                            |4 900 руб.
                        td
                            .hidden-lg 3 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 325 руб.
                        td
                            .hidden-lg 6 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 150 руб.
                        td
                            .hidden-lg 12 мес:
                            .rent-table__price-block  
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 2 800 руб. 
                        td.hidden-td
                            button.btn Отправить заявку
                    tr
                        td
                            .hidden-lg Наименование:
                            .rent-table__name Контейнер морской 20 футов
                            button.btn.rent-table__btn Отправить заявку
                        td 
                            .hidden-lg Площадь кв.м:
                            |15
                        td 
                            .hidden-lg Объем куб.м:
                            |33
                        td 
                            .hidden-lg 1 мес:
                            |6 900 руб.
                        td
                            .hidden-lg 3 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 325 руб.
                        td
                            .hidden-lg 6 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 150 руб.
                        td 
                            .hidden-lg 12 мес:
                            .rent-table__price-block 
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 2 800 руб.
                        td.hidden-td
                            button.btn Отправить заявку 
                    tr
                        td
                            .hidden-lg Наименование:
                            .rent-table__name Контейнер морской 40 футов
                            button.btn.rent-table__btn Отправить заявку
                        td 
                            .hidden-lg Площадь кв.м:
                            |30
                        td
                            .hidden-lg Объем куб.м:
                            |76
                        td 
                            .hidden-lg 1 мес:
                            |9 900 руб.
                        td
                            .hidden-lg 3 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 325 руб.
                        td
                            .hidden-lg 6 мес:
                            .rent-table__price-block
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 3 150 руб.
                        td
                            .hidden-lg 12 мес:
                            .rent-table__price-block   
                                .rent-table__old-price 3 500 руб.
                                .rent-table__new-price 2 800 руб. 
                        td.hidden-td
                            button.btn Отправить заявку            
        .discount
            .discount__img
                .discount__sircle
                    img(src="img/girl-min.png" alt="Скидка постоянным клиентам")
            .discount__text
                h3.discount__title Хотите выгодно арендовать контейнер под склад?
                p.discount__article Для ваc: Площадь контейнеров от 3,5 до 30 м2 Вы имеете возможность уменьшать или увеличивать арендную площадь. Постоянным клиентам<br>
                    b Мы предоставляем скидку 10%!
            ul.discount__action
                li
                    span Звоните ежедневно! 
                    a(href="tel:74959233161") 8 (495) 923 31 61
                li
                    button.btn Отправить заявку    
        .area
            h2.main-title.area__title Аренда контейнеров в Москве
            .area__inner
                .area__item
                    .area__slider.swiper-container                
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/s1.jpg" alt="Москва ЮВАО")
                            .swiper-slide
                                img(src="img/s1.jpg" alt="Москва ЮВАО")
                            .swiper-slide
                                img(src="img/s1.jpg" alt="Москва ЮВАО")
                        .swiper-pagination
                .area__item
                    .area__top
                        .area__block
                            ul.area__adress
                                li 
                                    a(href="#").area__city Москва, 
                                    a(href="#").area__uvao ЮВАО
                                li                
                                    a(href="#").area__metro Фили
                                li  
                                    span.area__street Промышленный проезд, 3
                                li
                                    a(href="tel:84959233161").phone-red 8 (495) 923 31 61
                                li
                                    span.area__work-time Звоните ежедневно 24/7

                            ul.area__list
                                li
                                    span 3 минуты пешком от метро
                                li
                                    span В контейнере есть свет и розетки
                                li
                                    span Круглосуточный доступ к контейнеру
                                li
                                    span Видеонаблюдение, КПП и охрана 

                    .area__article
                        p Аренда контейнера под склад м. Фили. Площади 5,10,15,30 и 60 метров. Большая бесплатная парковка. Надежная охрана, видеонаблюдение. Круглосуточный доступ, работаем без выходных. Без посредников и переплат. Нашли дешевле - сделаем скидку.   

                .area__item
                    .area__map#map1
                    button(type="button").btn.area__btn Отправить заявку    
            .area__inner
                .area__item
                    .area__slider.swiper-container                
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/s2.jpg" alt="Москва ЮАО")
                            .swiper-slide
                                img(src="img/s2.jpg" alt="Москва ЮАО")
                            .swiper-slide
                                img(src="img/s2.jpg" alt="Москва ЮАО")
                        .swiper-pagination
                .area__item
                    .area__top
                        .area__block
                            ul.area__adress
                                li 
                                    a(href="#").area__city Москва, 
                                    a(href="#").area__uvao ЮВАО
                                li                
                                    a(href="#").area__metro Селигерская
                                li  
                                    span.area__street Дмитровское шоссе, 83А
                                li
                                    a(href="tel:84959233161").phone-red 8 (495) 923 31 61
                                li
                                    span.area__work-time Звоните ежедневно 24/7

                            ul.area__list
                                li
                                    span 3 минуты пешком от метро
                                li
                                    span В контейнере есть свет и розетки
                                li
                                    span Круглосуточный доступ к контейнеру
                                li
                                    span Видеонаблюдение, КПП и охрана 

                    .area__article
                        p Аренда контейнера под склад м. Фили. Площади 5,10,15,30 и 60 метров. Большая бесплатная парковка. Надежная охрана, видеонаблюдение. Круглосуточный доступ, работаем без выходных. Без посредников и переплат. Нашли дешевле - сделаем скидку.   

                .area__item
                    .area__map#map2
                    button(type="button").btn.area__btn Отправить заявку    
            .area__inner
                .area__item
                    .area__slider.swiper-container                
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/s3.jpg" alt="Москва ЮАО")
                            .swiper-slide
                                img(src="img/s3.jpg" alt="Москва ЮАО")
                            .swiper-slide
                                img(src="img/s3.jpg" alt="Москва ЮАО")
                        .swiper-pagination
                .area__item
                    .area__top
                        .area__block
                            ul.area__adress
                                li 
                                    a(href="#").area__city Москва, 
                                    a(href="#").area__uvao СВАО
                                li                
                                    a(href="#").area__metro Теплый стан
                                li  
                                    span.area__street Адмирала Корнилова вл. 5
                                li
                                    a(href="tel:84959233161").phone-red 8 (495) 923 31 61
                                li
                                    span.area__work-time Звоните ежедневно 24/7

                            ul.area__list
                                li
                                    span 3 минуты пешком от метро
                                li
                                    span В контейнере есть свет и розетки
                                li
                                    span Круглосуточный доступ к контейнеру
                                li
                                    span Видеонаблюдение, КПП и охрана 

                    .area__article
                        p Аренда контейнера под склад м. Фили. Площади 5,10,15,30 и 60 метров. Большая бесплатная парковка. Надежная охрана, видеонаблюдение. Круглосуточный доступ, работаем без выходных. Без посредников и переплат. Нашли дешевле - сделаем скидку.   

                .area__item
                    .area__map#map3
                    button(type="button").btn.area__btn Отправить заявку    
            .area__inner
                .area__item
                    .area__slider.swiper-container                
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/s4.jpg" alt="Москва ЦАО")
                            .swiper-slide
                                img(src="img/s4.jpg" alt="Москва ЦАО")
                            .swiper-slide
                                img(src="img/s4.jpg" alt="Москва ЦАО")
                        .swiper-pagination
                .area__item
                    .area__top
                        .area__block
                            ul.area__adress
                                li 
                                    a(href="#").area__city Москва, 
                                    a(href="#").area__uvao ЦАО
                                li                
                                    a(href="#").area__metro Теплый стан
                                li  
                                    span.area__street Нововладыкинский проезд, 8
                                li
                                    a(href="tel:84959233161").phone-red 8 (495) 923 31 61
                                li
                                    span.area__work-time Звоните ежедневно 24/7

                            ul.area__list
                                li
                                    span 3 минуты пешком от метро
                                li
                                    span В контейнере есть свет и розетки
                                li
                                    span Круглосуточный доступ к контейнеру
                                li
                                    span Видеонаблюдение, КПП и охрана 

                    .area__article
                        p Аренда контейнера под склад м. Фили. Площади 5,10,15,30 и 60 метров. Большая бесплатная парковка. Надежная охрана, видеонаблюдение. Круглосуточный доступ, работаем без выходных. Без посредников и переплат. Нашли дешевле - сделаем скидку.   

                .area__item
                    .area__map#map4
                    button(type="button").btn.area__btn Отправить заявку    
