.modal-send
    .rent__photo.modal-send__photo
        img(src="img/girl.png" alt="супер склад" width="417" height="684")
        .modal-send__tooltip
            span Спасибо за заявку! <br>В ближайшее время с вами<br> свяжется наш менеджер
        button(type="button").btn.modal-send__favour Добавить в избранное    
        .rent__container
            img(src="img/cont-logo.png" alt="супер склад")
    
    .modal-send__info
        .modal-send__title Поделись с друзьями
        .modal-send__item
            .modal-send__icon 
                img(src="img/like.png" alt="лайк" width="50" height="50")
            .modal-send__article Делитесь своими новыми идеями и впечатлениями с друзьями в социальных сетях!
            .social
                img(src="img/soc.png")
                    
        .modal-send__title Поделись с друзьями
        .modal-send__item       
            .modal-send__article Подпишитесь на новости. Узнавайте первыми про выгодные акции и скидки.
            form.subscription-form(action="#")
                label.subscription-form__label
                    input(type="text" placeholder="Введите ваш E-mail").subscription-form__inp
                button(type="submit").btn Подписаться 
