link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet")
//- link(rel="stylesheet" href="css/main.min.css")
<link rel="stylesheet" href="css/main.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="css/main.min.css"></noscript>
