extends ../layout/layout.pug
block vars
	- var title = 'Спасибо за заявку';
block header
	include ../includes/header.pug
block content
	include ../includes/content-mess.pug
block footer
	include ../includes/footer.pug     
              
